<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productOrder">
            <h2><span jhiTranslate="demoApp.productOrder.detail.title">Product Order</span> {{ productOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.productOrder.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ productOrder.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.productOrder.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{ productOrder.totalPrice }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.productOrder.created">Created</span></dt>
                <dd>
                    <span>{{ productOrder.created }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.productOrder.address">Address</span></dt>
                <dd>
                    <span>{{ productOrder.address }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.productOrder.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'demoApp.STATUS.' + productOrder.status }}">{{ productOrder.status }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.productOrder.product">Product</span></dt>
                <dd>
                    <div *ngIf="productOrder.product">
                        <a [routerLink]="['/product', productOrder.product?.id, 'view']">{{ productOrder.product?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="demoApp.productOrder.user">User</span></dt>
                <dd>
                    {{ productOrder.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-order', productOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
