<div>
    <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-success" *ngSwitchCase="true">
            <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
        </div>
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
            <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
        </div>
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-bottom: 10px;" *ngFor="let product of products;trackBy: trackId">
            <div class="row">
                <div class="col-md-12">
                    <!-- <img [src]="product.image" alt="" style="width: 100%;height:100%;">width: 100%;height:100%; -->
                    <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="width: 100%;height:100%;" alt="product image"/>
                </div>
                <div class="col-md-6" style="color: red;font-size: large;">¥{{product.price}}</div>
                <div class="col-md-6" style="color: gray;font-size: small;display:flex;align-items: center;">{{product.manufacturer}}</div>
                <div class="col-md-12" style="font-size: small;">{{product.name}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="products && products.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
