<div>
    <h2 id="page-heading">
        <span jhiTranslate="demoApp.customerDetails.home.title">Customer Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-details" [routerLink]="['/customer-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="demoApp.customerDetails.home.createLabel">
            Create a new Customer Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customerDetails?.length === 0">
        <span jhiTranslate="demoApp.customerDetails.home.notFound">No customerDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customerDetails && customerDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.gender">Gender</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.phone">Phone</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.addressLine1">Address Line 1</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.addressLine2">Address Line 2</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.country">Country</span></th>
                    <th scope="col" ><span jhiTranslate="demoApp.customerDetails.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerDetails of customerDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/customer-details', customerDetails.id, 'view']">{{ customerDetails.id }}</a></td>
                    <td jhiTranslate="{{ 'demoApp.Gender.' + customerDetails.gender }}">{{ customerDetails.gender }}</td>
                    <td>{{ customerDetails.phone }}</td>
                    <td>{{ customerDetails.addressLine1 }}</td>
                    <td>{{ customerDetails.addressLine2 }}</td>
                    <td>{{ customerDetails.city }}</td>
                    <td>{{ customerDetails.country }}</td>
                    <td>
                        {{ customerDetails.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer-details', customerDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customer-details', customerDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customerDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
