<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advisory">
            <h2><span jhiTranslate="demoApp.advisory.detail.title">Advisory</span> {{ advisory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.advisory.created">Created</span></dt>
                <dd>
                    <span>{{ advisory.created }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.updated">Updated</span></dt>
                <dd>
                    <span>{{ advisory.updated }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.title">Title</span></dt>
                <dd>
                    <span>{{ advisory.title }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.detail">Detail</span></dt>
                <dd>
                    <span>{{ advisory.detail }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.answer">Answer</span></dt>
                <dd>
                    <span>{{ advisory.answer }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.initiator">Initiator</span></dt>
                <dd>
                    {{ advisory.initiator?.id }}
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.proposer">Proposer</span></dt>
                <dd>
                    {{ advisory.proposer?.id }}
                </dd>
                <dt><span jhiTranslate="demoApp.advisory.user">User</span></dt>
                <dd>
                    {{ advisory.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advisory', advisory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
