<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCart">
            <h2><span jhiTranslate="demoApp.shoppingCart.detail.title">Shopping Cart</span> {{ shoppingCart.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.shoppingCart.placedDate">Placed Date</span></dt>
                <dd>
                    <span>{{ shoppingCart.placedDate }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.shoppingCart.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{ shoppingCart.totalPrice }}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.shoppingCart.customerDetails">Customer Details</span></dt>
                <dd>
                    <div *ngIf="shoppingCart.customerDetails">
                        <a [routerLink]="['/customer-details', shoppingCart.customerDetails?.id, 'view']">{{ shoppingCart.customerDetails?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-cart', shoppingCart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
